* {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #ffcc00, #ff6600);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family:Times, serif;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3%;
}

.content {
    display: flex;
    background: transparent;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    outline: 4px solid white;
    border-radius: 10%;
    padding: 1%;
}

img {
    width: 60%;
    height: 100%;
    border-radius: 10%;
}

h1 {
    width: 75%;
    height: 40%;
    font-size: 5vh;
    color: white;
    background: transparent;
    padding: 6%;
}

.buttons2 {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: .5%;
}

.buttons1 {
    width: 200px;
    height: 80px;
    border-radius: 30px;
    background: transparent;
    outline: 2px solid white;
    border: none;
    font-size: xx-large;
    color: white;
    margin: 10%;
}

/* Add this style for the moving button */
#movingButton {
    position: relative;
    width: 200px;
    height: 80px;
    border-radius: 30px;
    background: transparent;
    outline: 2px solid white;
    border: none;
    font-size: xx-large;
    color: white;
    margin: 10%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease; /* Smooth transition for position change */
  }

  #movingButton.absolutePosition {
    position: absolute;
  }

.buttons1:hover {
    background-image: linear-gradient(rgba(255, 0, 0, 0.3),rgba(255, 0, 0, 0.3));
    outline: none;
}

